/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	}
	

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	    .fixed{
    	    min-height: 53px;
	    }
		.full.columbia{
			//min-height: 53px;
			position:fixed;
			width:100%;			
		}		
        .columbia.shadow {
          -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
             -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
               -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
                  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        }		
		#logo img{
			width: 75px;
			left: 0px;
			top:10px;
		}
		#menu-cavs-main{
			//display:none; 
		}
		.navbar-cavs .navbar-collapse{
		  margin-top:80px; 
		  //margin-left: 60px;
		}
		.main-menu,
		.main-menu li{
			float:none;
		}
		.main-menu li a{
			padding:10px;
		}
		.main-menu li.open ul{
			opacity: 1;
  			visibility: visible;
		}
		.main-menu li ul li a{
			text-align:left;
			border:none;
		}
		.tweets .tweet {
		    display:none;
		    height: 80px;
    		width: auto;
		}
		.bottom{
    		margin-bottom: 50px !important;
		}
        .logos{		    
    		text-align:center;
    		display:block;
		}		
	    .bon-logo{
    	    padding: 0;
	    }
	    .t-images img{
    	    width:80%;
	    }		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {	
        img{
    		width: 100%;
		}
        .logos img{		    
            width: auto;
		}		
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/